<p>
  navbar works!
</p>



<div class="btn-group" data-toggle="buttons">
   <a onclick="location.href='#ParentComponent/DashboardComponent';" class="btn btn-primary">
    <input type="radio" name="options" id="option1"> Параметр 1
  </a>
     <a onclick="location.href='#ParentComponent/login';" class="btn btn-primary">
    <input type="radio" name="options" id="option1"> Параметр 1
  </a>
     <a onclick="location.href='#NonsecuredComponent';" class="btn btn-primary">
    <input type="radio" name="options" id="option1"> Параметр 1
  </a>
     <a onclick="location.href='#NonsecuredComponent';" class="btn btn-primary">
    <input type="radio" name="options" id="option1"> Параметр 1
  </a>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2"> Параметр 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3"> Параметр 3
  </label>
</div>