<p>
  item-view works!
</p>
<div *ngIf="item">
 <span (click)="showItemInCOnsole()">Edit</span>
 {{item.Name}}
</div>

<span (click)="showItemInCOnsole()">Edit</span>


<form   (ngSubmit)="onUpdate(itemData)" [formGroup]="itemData">
<input   formControlName="Name">
<button type="submit" > onUpdate </button>
</form>


<form   (ngSubmit)="postNewItem(newItem)" [formGroup]="newItem">
<input   formControlName="Name">
<input   formControlName="Text">
<input   formControlName="Viewed">
<button type="submit" > onUpdate </button>
</form>



<div [formGroup]="myGroup">
      <input formControlName="firstName">
    </div>



  <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
      <label>
        <span>Full name</span>
        <input type="text" placeholder="Your full name" formControlName="name">
      </label>
      <div class="error" *ngIf="user.get('name').touched && user.get('name').hasError('required')">
        Name is required
      </div>
      <div class="error" *ngIf="user.get('name').touched && user.get('name').hasError('minlength')">
        Minimum of 2 characters
      </div>
      <div formGroupName="account">
        <label>
          <span>Email address</span>
          <input type="email" placeholder="Your email address" formControlName="email">
        </label>
        <div
          class="error"
          *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">
          Email is required
        </div>
        <label>
          <span>Confirm address</span>
          <input type="email" placeholder="Confirm your email address" formControlName="confirm">
        </label>
        <div
          class="error"
          *ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched">
          Confirming email is required
        </div>
      </div>
      <button type="submit" [disabled]="user.invalid">Sign up</button>
    </form>

<button class="btn btn-primary" type="button" (click)="deleteFirstItem()">
  DeleteFirstItem 
</button>
